<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="static/css/demo.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="static/js/demo.js"></script>

</head>

<!---->
<body class="d-flex h-100 text-center text-bg-dark">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Not Today Suicide</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="about">About</a>
        <a class="nav-link fw-bold py-1 px-0" href="contact">Contact Us</a>
      </nav>
    </div>
  </header>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div class="row">
                <div class="col-md-2">
                    <div class="icon"><span class="glyphicon glyphicon-chevron-left"></span></div>
                </div>
                <div class="col-md-offset-3 col-md-2">
                    <div id="contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    Joe
                </div>
                <div class="col-md-offset-3 col-md-2">
                    <div class="icon"><span class="glyphicon glyphicon-info-sign"></span></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="date">
                <span class="bold">Today</span> 11:54
            </div>
            <div class="row">
                <div class="message message-in pull-left">
                    Hey! What's up?
                </div>
            </div>
            <div class="row">
                <div class="message message-out pull-right">
                    Not much :(
                </div>
            </div>
            <div class="row">
                <div class="message message-in pull-left">
                    something wrong?
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <form>
                <div class="input-group">
                  <input id="message-text" type="text" class="form-control" placeholder="Message">
                  <span class="input-group-btn">
                    <button id="envoi" class="btn btn-default" type="button"><span class="glyphicon glyphicon-upload"></span></button>
                  </span>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
